<component name="libraryTable">
  <library name="springframework.spring.expression" type="repository">
    <properties maven-id="org.springframework:spring-expression:5.3.13" />
    <CLASSES>
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-expression/5.3.13/spring-expression-5.3.13.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-core/5.3.13/spring-core-5.3.13.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-jcl/5.3.13/spring-jcl-5.3.13.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>